h1, h2, h3, h4, h5, h6 {
    font-family: 'Open Sans', sans-serif;
}

body {
    background-color: #f8f8f8;
    color: #333;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1.5em;
}

.container {
    max-width: 1000px;
}

.right {
    float: right;
    text-align: right;
}

.navbar {
    border-radius: 0;
    background-image: linear-gradient(to right, #CDCAC6, #EDECED);
    box-shadow: 0 2px 0px rgba(92, 199, 12, 0.8), 0 4px 0px rgba(0, 130, 243, 0.8), 0 4px 2px rgba(34, 34, 34, 0.2);
}

.navbar-default {
    border: none;
}

.navbar-default .navbar-brand {
    color: #000;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

.navbar-brand {
}

.navbar-default .navbar-brand:hover {
    color: #000;
}

.navbar-default .navbar-nav li a {
    color: #000;
}

.navbar-default .navbar-nav li a:hover {
    color: #000;
    background-color: inherit;
}

.navbar-default .navbar-nav .active a {
    color: #ed9842;
    background-color: inherit;
}

.navbar-default .navbar-nav .active a:hover {
    color: #ed9842;
    background-color: inherit;
}

.navbar-default .navbar-toggle:hover {
}

.navbar-default .navbar-toggle .icon-bar {

}

#sidebar {
    margin-left: 15px;
    margin-top: 50px;
}

#content {
    border-radius: 3px;
}

footer {
    font-size: 14px;
    text-align: center;
    padding-top: 75px;
    padding-bottom: 30px;
}

#post-tags {
    margin-top: 30px;
}

#prev-next {
    padding: 15px 0;
}

.post-header {
    margin-bottom: 20px;
}
.post-header h2 {
    font-size: 32px;
}

#post-meta {
    font-size: 14px;
    color: rgba(0,0,0,0.4)
}

#page-header {
    border-bottom: 1px solid #dbdbdb;
    margin-bottom: 20px;
}
#page-header h2 {
    font-size: 32px;
}

pre {
    overflow-x: auto;
}
pre code {
    overflow-wrap: normal;
    white-space: pre;
}

code {
    color: #428bca;
}

pre, code, .hljs {
    background-color: #f7f9fd;
}

@media (min-width: 768px) {
    .navbar {
        min-height: 70px;
    }
    .navbar-nav>li>a {
        padding: 30px 20px;
    }
    .navbar-default .navbar-brand {
        font-size: 36px;
        padding: 25px 15px;
    }
    #content{
        margin-top: 30px;
        padding: 30px 40px;
    }
    #content img {
        width: 100%;
    }
}

@media (max-width: 767px) {
    body{
        font-size: 14px;
    }
    .navbar-default .navbar-brand {
        font-size: 30px;
    }
    #content{
        padding: 15px;
    }
    #content img {
        width: 100%;
    }
    #post-meta .right {
        float:left;
        text-align: left;
    }
}
